@media screen and (max-width: 1198px) {
  .about-company-wraper {
    .about-company-cards {
      .card {
        max-width: 270px;
        max-height: 340px;
        height: 350px;
        margin: 10px auto;
        padding: 20px 25px;
      }
    }
    .company-advantages-wraper {
      justify-content: space-around;
      .advantage-card {
        margin: 40px 0;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .global-h1 {
    font-size: 30px;
  }
  .main-screen-wraper {
    .mobile-menu-wraper {
      display: flex;
    }
    .options {
      display: none;
    }
    .header {
      &-nav {
        display: none;
      }
      .options {
        display: none;
      }
    }
    .main-screen-text-wraper {
      .global-h1 {
        margin: 30px auto;
      }
      .text-info {
        margin-bottom: 20px;
      }
    }
  }
  .about-company-wraper {
    .about-company-cards {
      .card {
        max-width: 250px;
        height: 350px;
        margin: 10px auto;
        padding: 20px 25px;
        &-text {
          text-align: center;
        }
      }
    }
    .our-partners-wraper {
      margin: 40px 0;
    }
  }
  .footer-wraper {
    padding: 30px 0 20px;
    .info-links-wraper {
      .info-links-list {
        justify-content: space-around;
        flex-wrap: wrap;
        &_link {
          margin: 10px 15px;
        }
      }
    }
    .social-links-wraper {
      .social-links-list {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        margin: 30px auto;
        &_link {
          display: block;
          width: 50px;
          height: 50px;
          margin: 0 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .main-screen-wraper {
    .mobile-menu-wraper {
      .complex-nav {
        &:hover {
          display: flex;
          flex-direction: column;
          align-items: center;
          .header-drDown-menu {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
          }
        }
      }
      .header-mobile-nav {
        width: 100vw;
        &_menu {
          margin: 20px 0;
        }
        &_options {
          margin: 10px auto;
        }
      }
    }
    .main-screen-text-wraper {
      .global-h1 {
        margin: 30px auto;
      }
      .text-info {
        font-size: 14px;
      }
    }
  }
  .about-company-wraper {
    margin: 40px 0;
    .about-company-cards {
      .card {
        height: 300px;
        margin: 10px auto;
        padding: 10px 15px;
      }
    }
    .company-advantages-wraper {
      .advantage-card {
        margin: 20px 0;
      }
    }
    .our-partners-wraper {
      .our-partners_list {
        &-partner {
          width: 60px;
          height: 60px;
          margin: 20px 15px;
          &:last-child {
            width: 150px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .global-h1 {
    font-size: 25px;
  }
}
