@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans:wght@400;700&display=swap');
@import 'reset.scss';
@import '_mixins.scss';
@import '_animation.scss';

/*---------------------------- VARIABLES ----------------------------*/
$white: #ffffff;
$black: #000000;
$yellow: #ffff00;
$red: #ff0000;
$blue_link: #1657ab;
$drDown_bg: #1f2e4b;
$card_bg: #fafafa;
$footer_bg: #19263f;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $white;
}
.global-h1 {
  @include Open_sans(48px, 300);
  text-align: center;
  color: $white;
  line-height: 120%;
}

.global-h3 {
  @include Pt_sans(18px, 700);
  line-height: 23px;
  text-align: center;
  color: $black;
}
.global-h4 {
  @include Pt_sans(16px, 400);
  line-height: 20px;
  text-align: left;
  color: $black;
}

/*---------------------------- MAIN SCREEN ----------------------------*/

.main-screen-wraper {
  padding: 1px 0;
  background-image: url('../img/main-bg.jpg');
  @include background_img();

  .mobile-menu-wraper {
    display: none;
    justify-content: center;
    align-items: center;
    .complex-nav {
      &::after {
        right: 10%;
        border: solid $drDown_bg;
        border-width: 0 1px 1px 0;
      }
      &:hover {
        background-color: $drDown_bg;
        .header-mobile-nav_menu-link {
          color: $yellow;
        }
        .header-drDown-menu {
          top: 0;
          left: -37%;
        }
      }
    }
    /*--------------------  burger menu -----------------*/
    .header-mobile-nav {
      position: fixed;
      right: -300%;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100vh;
      background-color: $white;
      transition: 0.3s;
      z-index: 560;
      &_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 40px auto;
        &-link {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 20px 0;
          color: $drDown_bg;
          @include Pt_sans(16px, 400);
          &:focus {
            outline: none;
            color: $red;
          }
          &:hover {
            color: $yellow;
            background-color: $drDown_bg;
          }
          &-wraper {
            width: 100%;
            box-shadow: 0px 2px 0px -1px rgba(34, 60, 80, 0.2);
          }
        }
      }
      &_options {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
        @include Pt_sans(16px, 400);
        transition: 0.2s;
        a {
          padding: 20px;
          margin: 0 20px;
          color: $drDown_bg;
          &:hover {
            color: $yellow;
            background-color: $drDown_bg;
            border-radius: 15px;
          }
          &:focus {
            color: $red;
          }
        }
      }
    }
    /*--------------------  burger menu btn  -----------------*/

    #mobile-menu-check {
      position: absolute;
      top: -200px;
      opacity: 0;
      &:checked ~ .header-mobile-nav {
        right: 0;
      }
    }
    .mobile-menu_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;
      @include burger_menu_open($white);
    }
    .mobile-menu_btn-close {
      display: flex;
      width: 30px;
      height: 30px;
      margin: 10px;
      transition: 0.3s;
      @include burger_menu_close($drDown_bg);
    }
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include Pt_sans(16px, 400);
    &-link {
      @include link_events;
    }
  }
  .complex-nav {
    position: relative;
    &:hover .header-drDown-menu {
      top: 100%;
      opacity: 1;
      animation: rotateMenu 400ms ease-in-out forwards;
      transform-origin: top center;
      z-index: 0;
    }
    &::after {
      content: '';
      position: absolute;
      right: -10px;
      margin-top: -3px;
      top: 50%;
      border: solid $white;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(45deg);
    }
    .header-drDown-menu {
      position: absolute;
      top: 0;
      left: -13px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 113px;
      background-color: $drDown_bg;
      opacity: 0;
      transform: scaleY(0);
      z-index: -50;
      transition: 0.2s;
      &-link-wraper {
        width: 100%;
        margin: 20px auto;
        text-align: center;
        .header-drDown-menu-link {
          @include Pt_sans(16px, 400);
          transition: 0.2s;
          @include link_events;
        }
      }
    }
  }

  .header {
    margin-top: 20px;
    .logo {
      img {
        width: 100%;
      }
    }
    &-nav {
      &_menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        &-link-wraper {
          height: 100%;
          .header-nav_menu-link {
            display: flex;
            align-items: center;
            height: 100%;
            transition: 0.2s;
            @include Pt_sans(16px, 400);
            @include link_events;
          }
        }
      }
    }
  }
}

.main-screen-text-wraper {
  @include Pt_sans(18px, 400);
  color: $white;
  .text-info {
    max-width: 880px;
    margin: 0 auto 94px;
    text-align: center;
    line-height: 23px;
  }
  .global-h1 {
    margin: 84px auto;
  }
}

/*---------------------------- ABOUT COMPANY ----------------------------*/

.about-company-wraper {
  margin: 80px 0 0;
  .advantages-main-h3 {
    margin: 30px auto;
  }
  .about-company-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 340px;
      height: 323px;
      padding: 30px 35px;
      background-color: $card_bg;
      @include Pt_sans(14px, 400);
      transition: 0.3s;
      &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      &-link {
        margin: 30px auto 0;
        line-height: 18px;
        color: $blue_link;
        transition: 0.3s;
        &:hover {
          color: #d91e7f;
        }
        &:focus {
          color: $red;
        }
      }
      &-text {
        margin: 5px auto 7px;
        line-height: 18px;
        color: $black;
      }
      &-title {
        margin: 25px auto 5px;
        @include Pt_sans(18px, 700);
        line-height: 23px;
        text-align: center;
        color: $black;
      }
      &-img {
        max-width: 64px;
        max-height: 64px;
      }
    }
  }
  .company-advantages-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;
    .advantage-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 270px;
      max-width: 270px;
      margin: 40px 50px;
      @include Pt_sans(14px, 400);
      text-align: center;
      color: $black;
      &-text {
        line-height: 18px;
      }
      &-title {
        margin: 25px auto 10px;
        @include Pt_sans(18px, 700);
        line-height: 23px;
        text-align: center;
        color: $black;
      }
      &-img {
        max-width: 95px;
      }
      &-text-link {
        color: #1657ab;
        text-decoration: underline;
        &:hover {
          color: #d91e7f;
        }
        &:focus {
          color: red;
        }
      }
    }
  }
  .all-advantages-btn {
    margin: 0 auto;
    display: flex;
    width: 230px;
    height: 56px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: $white;
    border: 1px solid #85b657;
    box-sizing: border-box;
    border-radius: 4px;
    color: $black;
    @include Pt_sans(14px, 400);
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #85b657;
      color: $white;
    }
    &:focus {
      background-color: #85b657;
      color: $red;
    }
  }
  .our-partners-wraper {
    margin: 80px 0;
    @include Pt_sans(16px, 400);
    .global-h4 {
      margin: 30px auto 20px;
      line-height: 20px;
      .h4-space {
        display: block;
        margin: 20px 0;
      }
    }
    .our-partners_list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      &-partner {
        width: 94px;
        height: 105px;
        margin: 20px 35px;
        &:last-child {
          width: 200px;
          height: 50px;
        }
        &-img {
          display: block;
          width: 100%;
          height: 100%;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .img {
          &-0 {
            background-image: url('../img/image_01.png');
          }
          &-1 {
            background-image: url('../img/image_02.png');
          }
          &-2 {
            background-image: url('../img/image_03.png');
          }
          &-3 {
            background-image: url('../img/image_04.png');
          }
          &-4 {
            background-image: url('../img/image_05.png');
          }
        }
      }
    }
  }
}

/*---------------------------- FOOTER ----------------------------*/
.footer-wraper {
  width: 100%;
  padding: 50px 0 40px;
  background-color: $footer_bg;
  .info-links-wraper {
    .info-links-list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      transition: 0.3s;
      &_link {
        margin: 0 25px;
        .info-link {
          text-transform: uppercase;
          color: $white;
          &:hover {
            color: $yellow;
          }
          &:focus {
            color: $red;
          }
        }
      }
    }
  }
  .social-links-wraper {
    .social-links-list {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      margin: 30px auto;
      &_link {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 30px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.3);
        .social-link {
          display: block;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: auto;

          &:hover {
            filter: invert(97%) sepia(100%) saturate(1286%) hue-rotate(354deg)
              brightness(104%) contrast(105%);
          }
          &:focus {
            filter: invert(100%) sepia(54%) saturate(4181%) hue-rotate(356deg)
              brightness(107%) contrast(102%);
          }
        }
        .facebook {
          background-image: url('../img/fc.png');
        }
        .twitter {
          background-image: url('../img/twitter.svg');
        }
        .instagram {
          background-image: url('../img/instagram.svg');
        }
      }
    }
  }
  .copyright-wraper {
    display: flex;
    justify-content: center;
    .copyright {
      @include Pt_sans(15px, 700);
      line-height: 19px;
      color: $white;
    }
  }
}

@import '_media.scss';
